[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
ipywidgets = "*"
pylint = "*"

[packages]
requests = "*"
update = "*"
gunicorn = "*"
uvicorn = "*"
fastapi = "*"
pydantic = "*"
tensorflow = "*"
transformers = "*"
torch = "*"
torchvision = "*"

[requires]
python_version = "3.7"

[packages.chatterbot]
git = "git://github.com/qweliant/ChatterBot.git"

[packages.chatterbot-corpus]
git = "https://github.com/gunthercox/chatterbot-corpus.git"
