-i https://pypi.org/simple
blis==0.4.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
cymem==2.0.3
flask-cors==3.0.8
flask==1.1.2
git+git://github.com/qweliant/ChatterBot.git@ce50ad4b6a971ec8355a54813216105a5717f6d6#egg=chatterbot
git+https://github.com/gunthercox/chatterbot-corpus.git@e0dbbcee94dbdc3a67e1e96a397035baee5f089a#egg=chatterbot-corpus
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
murmurhash==1.0.2
numpy==1.18.4
plac==0.9.6
preshed==3.0.2
python-dotenv==0.13.0
requests==2.23.0
six==1.14.0
spacy==2.2.1
srsly==1.0.2
style==1.1.0
thinc==7.1.1
tqdm==4.46.0
update==0.0.1
urllib3==1.25.9
wasabi==0.6.0
werkzeug==1.0.1
