-i https://pypi.org/simple
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
flask-cors==3.0.8
flask==1.1.2
git+git://github.com/qweliant/ChatterBot.git@ce50ad4b6a971ec8355a54813216105a5717f6d6#egg=chatterbot
git+https://github.com/gunthercox/chatterbot-corpus.git@e0dbbcee94dbdc3a67e1e96a397035baee5f089a#egg=chatterbot-corpus
gunicorn==20.0.4
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-2.1.0/de_core_news_sm-2.1.0.tar.gz#egg=de-core-news-sm
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en-core-web-sm
idna==2.9
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
requests==2.23.0
six==1.14.0
style==1.1.0
update==0.0.1
urllib3==1.25.9
werkzeug==1.0.1
