{% load static %}

{% extends 'header.html' %}
{% block content %}
        <div class = "row">
            <div class = "col s6">
                <h1>Chatume</h1>
                <p>
                   Chat bot bot implementation will genrate text from another chatbot messeges
                </p>
            </div>
            <div class = "col s6">
                {% for object in object_list %}
                <div>
                    <div class="card-panel grey lighten-5 z-depth-1">
                        <div class="row valign-wrapper">
                            <div class="col s4">
                            <img src="https://www.colorlines.com/sites/default/files/styles/article_lead_normal/public/images/articles/2011/05/graphicwoman.jpg?itok=0TGRrgK9&timestamp=1429386402" alt="" class="circle responsive-img">
                            </div>
                            <div class="col s8">
                            <span class="black-text">
                                <p class="flow-text">
                                    <div>
                                        <li><a>{{ object.text }}</a></li>
                                    </div>
                                    <div>
                                        <a class="waves-effect waves-light btn blue lighten-2" href="/chatume/delete/{{object.pk}}">Delete Me! <i class="fas fa-dumpster-fire"></i></a>
                                    </div>
                                </p>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>   
                {% endfor %}
            </div>
        </div>

























































  <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">CHAT</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="disabled"><a href="#!"><i class="material-icons">TUME</i></a></li>
  </ul>
{% endblock %}
