adaptnlp==0.1.6
attrs==19.3.0
backcall==0.2.0
bleach==3.1.5
boto3==1.14.26
boto==2.49.0
botocore==1.17.26
bpemb==0.3.2
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cloudpickle==1.5.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
deprecated==1.2.10
docutils==0.15.2
entrypoints==0.3
fastapi==0.60.1
filelock==3.0.12
flair==0.4.5
future==0.18.2
gensim==3.8.3
git+git://github.com/qweliant/ChatterBot.git#egg=chatterbot
git+https://github.com/gunthercox/chatterbot-corpus.git#egg=chatterbot-corpus
gunicorn==20.0.4
h11==0.9.0
html-text==0.5.2
httptools==0.1.1; sys_platform != 'win32' and sys_platform != 'cygwin' and platform_python_implementation != 'PyPy'
hyperopt==0.2.4
idna==2.10
importlib-metadata==1.7.0; python_version < '3.8'
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.16.1
ipywidgets==7.5.1
jedi==0.17.2
jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter==1.0.0
jupyterlab-server==1.2.0
jupyterlab==2.2.0
kiwisolver==1.2.0
langdetect==1.0.8
lxml==4.5.2
markupsafe==1.1.1
matplotlib==3.3.0
mistune==0.8.4
more-itertools==8.4.0
mpld3==0.3
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
notebook==6.0.3
numpy==1.19.1
packaging==20.4
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0; sys_platform != 'win32'
pickleshare==0.7.5
pillow==7.2.0
pluggy==0.13.1
prometheus-client==0.8.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0; os_name != 'nt'
py==1.9.0
pydantic==1.6.1
pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==5.4.3
python-dateutil==2.8.1
pyzmq==19.0.1
qtconsole==4.7.5
qtpy==1.9.0
regex==2020.7.14
requests==2.24.0
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.23.1
scipy==1.5.1
segtok==1.5.10
send2trash==1.5.0
sentencepiece==0.1.92
six==1.15.0
smart-open==2.1.0
sqlitedict==1.6.0
starlette==0.13.6
style==1.1.0
tabulate==0.8.7
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tokenizers==0.5.2
torch==1.4.0
tornado==6.0.4
tqdm==4.48.0
traitlets==4.3.3
transformers==2.8.0
update==0.0.1
urllib3==1.24.3
uvicorn==0.11.6
uvloop==0.14.0; sys_platform != 'win32' and sys_platform != 'cygwin' and platform_python_implementation != 'PyPy'
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.1.0
